body {
    /* Fondo de pantalla */
    background-image: url('/assets/img/_A650028_optimized_.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container {
    /* Contenedor principal de la cuadrícula */
    background-color: rgba(15, 22, 32, 0.7);
    border-radius: 10px;
    border: 3px solid #ffffff4d;
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(11, 85px);
    padding: 15px;
    width: 1152px;
    height: auto;
    grid-gap: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container>div {
    /* Estilos para los elementos dentro del contenedor principal */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-body {
    /* Estilos para los elementos dentro del contenedor principal */
    height: 123px;
}

.grid-container>div>img {
    /* Estilos para las imágenes dentro de los elementos */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.grid-container>div>img:hover {
    /* Efecto de escala al pasar el cursor sobre las imágenes */
    transform: scale(1.05);
}

.grid-container>div:hover {
    /* Cambio de color de fondo al pasar el cursor sobre los elementos */
    /* background-color: rgba(15, 22, 32, 0.5); */
    transition: background-color 0.3s ease-in-out;
}

.grid1 {
    /* Estilos para el elemento de la cuadrícula 1 */
    grid-column: 1/8;
    grid-row: span 2;
    height: 370px;
}

.grid2 {
    /* Estilos para el elemento de la cuadrícula 2 */
    grid-column: 8/12;
    border: 2px solid #e54d2b67;

}

.grid3 {
    /* Estilos para el elemento de la cuadrícula 3 */
    grid-column: 8/10;
    width: 180px;
    height: 180px;
}

.grid4 {
    /* Estilos para el elemento de la cuadrícula 4 */
    grid-column: 10/12;
    grid-row: span 2;
    height: 370px;
}

.grid5 {
    /* Estilos para el elemento de la cuadrícula 5 */
    grid-column: 1/6;
    height: 180px;
}

.grid6 {
    /* Estilos para el elemento de la cuadrícula 6 */
    grid-column: 6/10;
    grid-row: span 2;
    height: 370px;
}

.grid7 {
    /* Estilos para el elemento de la cuadrícula 7 */
    grid-column: 1/3;
    height: 180px;
}

.grid8 {
    /* Estilos para el elemento de la cuadrícula 8 */
    grid-column: 3/6;
    height: 180px;
    border: 2px solid #e54d2b67;
}

.grid9 {
    /* Estilos para el elemento de la cuadrícula 9 */
    grid-column: 10/12;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}

.grid9>button {
    /* Estilos para el botón dentro del elemento de la cuadrícula 9 */
    text-align: center;
    text-decoration: none;
}

.minigrid-container {
    /* Contenedor para la cuadrícula pequeña */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-void {
    /* Estilos para el botón "void" */
    grid-column: 1/2;
    width: 60px;
}

.btn-git {
    /* Estilos para el botón "git" */
    grid-column: 2/2;
    width: 60px;
}

.btn-insta {
    /* Estilos para el botón "insta" */
    grid-column: 1/2;
    width: 60px;
}

.btn-whatsapp {
    /* Estilos para el botón "whatsapp" */
    grid-column: 2/2;
    width: 60px;
}

.btn:hover {
    /* Cambio de color de fondo y texto al pasar el cursor sobre los botones */
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Estilos para pantallas medianas */
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(180px, auto);
    }

    .grid1 {
        grid-column: 1/4;
        grid-row: span 2;
        height: 370px;
    }

    .grid2 {
        grid-column: 1/2;
        height: 180px;
    }

    .grid3 {
        grid-column: 2/3;
        height: 180px;
    }

    .grid4 {
        grid-column: 3/4;
        grid-row: span 2;
        height: 370px;
    }

    .grid5 {
        grid-column: 1/2;
        height: 180px;
    }

    .grid6 {
        grid-column: 2/4;
        grid-row: span 2;
        height: 370px;
    }

    .grid7 {
        grid-column: 1/2;
        height: 180px;
    }

    .grid8 {
        grid-column: 2/3;
        height: 180px;
    }

    .grid9 {
        grid-column: 3/4;
        height: 180px;
    }
}

@media (max-width: 767px) {

    /* Estilos para pantallas pequeñas */


    .grid-container {
        margin-top: 30%;
        margin-left: 10px;
        margin-right: 10px;
        width: 340px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(170px, 170px);
        grid-gap: 10px;
        align-content: justify;
        padding: 8px;

    }

    .card-body {
        padding: 2px 5px;
        height: 115px;
    }

    .grid1 {
        grid-column: 1/3;
        grid-row: span 2;
        height: 320px;
        width: 320px;

    }

    .grid2 {
        grid-column: 1/2;
        height: 150px;
        width: 150px;
        font-size: 0.5em;
    }

    .grid3 {
        grid-column: 2/3;
        height: 150px;
        width: 150px;
    }

    .grid4 {
        grid-column: 1/3;
        grid-row: span 2;
        height: 320px;
        width: 320px;
    }

    .grid5 {
        grid-column: 1/4;
        height: 150px;
        width: 320px;
    }

    .grid6 {
        grid-column: 1/4;
        grid-row: span 2;
        height: 320px;
        width: 320px;
    }

    .grid7 {
        grid-column: 1/2;
        height: 150px;
    }

    .grid8 {
        grid-column: 2/4;
        width: 150px;
        font-size: 0.6em;
    }

    .grid9 {
        grid-column: 1/3;
        height: 150px;
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
        text-align: center;
        text-decoration: none;
    }

    .minigrid-container {
        /* Contenedor para la cuadrícula pequeña */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-void {
        /* Estilos para el botón "void" */
        grid-column: 1/2;
        width: 60px;
        height: 60px;
    }

    .btn-git {
        /* Estilos para el botón "git" */
        grid-column: 2/2;
        width: 60px;
        height: 60px;
    }

    .btn-insta {
        /* Estilos para el botón "insta" */
        grid-column: 1/2;
        width: 60px;
        height: 60px;
    }

    .btn-whatsapp {
        /* Estilos para el botón "whatsapp" */
        grid-column: 2/2;
        width: 60px;
        height: 60px;
    }

    .btn:hover {
        /* Cambio de color de fondo y texto al pasar el cursor sobre los botones */
        background-color: rgba(0, 0, 0, 0);
        color: #00000000;
    }
}